/* Basic reset for boxes */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Variables */
/* Main Content (without footer) */
body {
  font-family: 'Montserrat', Times New Roman, sans-serif;
  font-size: 16px;
}

.main_container {
  min-width: 70vw;
  width: 70vw;
  margin: 0 auto;
}

/* Header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1200px) {
  header {
    display: block;
    text-align: center;
    margin: 5% auto;
  }
}

header > a:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header > h1 {
  display: block;
  text-align: center;
  font-family: 'Playfair Display', Times New Roman, serif;
  font-size: 2.2rem;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

header > a:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .left_link, header .right_link {
  text-decoration: none;
  text-align: center;
  padding-top: 4%;
  color: #616161;
}

.right_link:hover {
  text-decoration: underline;
}

.left_link:hover {
  text-decoration: underline;
}

/* Horizontal line below header */
header + hr {
  margin-top: -0.5%;
  margin-bottom: 1%;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

/* Navigation below horizontal line */
.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 3vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 99%;
  margin: 0 auto;
  min-height: 3vh;
  margin-bottom: 1.5vh;
}

@media screen and (max-width: 1200px) {
  .categories {
    text-align: center;
  }
}

.categories .flex_categories {
  text-decoration: none;
  color: #616161;
  font-size: 0.95rem;
}

@media screen and (max-width: 1200px) {
  .categories .flex_categories {
    font-size: 1.2rem;
    margin: 2.5%;
  }
}

.flex_categories:hover {
  text-decoration: underline;
}

/* Main central container, hero block */
.central_container {
  width: 100%;
  height: 50vh;
  border-radius: 2.5px;
  padding: 5%;
  background-color: #373737;
  color: #ffffff;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 1200px) {
  .central_container {
    padding: 10%;
    height: auto;
  }
}

.central_container .central_container_text {
  width: 50%;
  min-height: 70%;
}

@media screen and (max-width: 1200px) {
  .central_container .central_container_text {
    width: 100%;
  }
}

.central_container .central_container_text h2 {
  font-weight: 500;
  font-size: 2rem;
}

.central_container .central_container_text p {
  line-height: 2rem;
}

.central_container .central_container_text a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.central_container .central_container_text a:hover {
  text-decoration: underline;
}

/* Featured posts */
.featured_posts_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.5vh;
  width: 100%;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .featured_posts_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.featured_box {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  max-width: 49%;
  min-height: 25vh;
  padding: 2.5%;
  margin: 0;
  border: 0.5px solid lightgray;
  border-radius: 2.5px;
}

@media screen and (max-width: 1200px) {
  .featured_box {
    min-width: 100%;
    margin-bottom: 5%;
    padding: 10%;
  }
}

.featured_left_box, .featured_right_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .featured_left_box, .featured_right_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.featured_post {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.featured_image {
  width: 50%;
  heigth: 50%;
  background: #373737;
  color: #ffffff;
  text-align: center;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

@media screen and (max-width: 1200px) {
  .featured_image {
    width: 75%;
    height: 75%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 5%;
  }
}

.featured_image p {
  margin: 50% auto;
}

.featured_post .tag {
  font-weight: bold;
}

.featured_post a {
  text-decoration: none;
  color: #616161;
}

.featured_post a:hover {
  text-decoration: underline;
}

/* Advertisement */
.ads {
  margin-top: 2.5vh;
}

@media screen and (max-width: 1200px) {
  .ads {
    display: none;
  }
}

/* Footer */
.horizontal {
  margin-top: 2.5vh;
  margin-bottom: 0;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.end_box {
  width: 100%;
  text-align: center;
  padding: 1vw;
  font-size: 0.9rem;
  margin-top: -0.5%;
  color: #616161;
}

@media screen and (max-width: 1200px) {
  .end_box {
    font-size: 13px;
  }
}

.end_box a {
  text-decoration: none;
  color: #616161;
}

.end_box a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */